@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1650684359556') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daochu1024-26:before {
  content: "\e617";
}

.icon-daochu1024-27:before {
  content: "\e618";
}

.icon-daochu1024-28:before {
  content: "\e619";
}

